.text-style {
  display: block;
  margin: auto;
  width: 200x;
  border: 1px solid #000;
}
.box-style {
  width: 400px;
  height: 400px;
  border: 1px solid #000;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-div {
  margin-top: 40%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
